<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <ul>
        <!-- search bar -->
        <div class="input-group flex-nowrap mb-4">
          <input
            type="text"
            id="poke-search"
            class="form-control"
            onkeyup="searchPokemon()"
            placeholder="Search for Pokemon..."
          />
          <div class="input-group-append">
            <span class="mt-3"
              ><img src="/images/search-icon.svg" alt=""
            /></span>
          </div>
        </div>
        <div class="row pokedex">
          <%pokeList.forEach(pokemon => { %>
          <li
            class="pokedex-card col-6 col-md-4 col-lg-2 text-capitalize text-center p-3 mb-3"
          >
            <a href="/pokemon/<%=pokemon.id%> " class="p-1">
              <p class="text-muted">#<%= pokemon.id%></p>
              <h4><%=pokemon.name.english%></h4>
              <img
                src="/images/pokeImages/<%=pokemon.id%>.png"
                alt="poke-sprite"
                height="100px"
                width="100px"
                class="mb-3"
              />
              <% pokemon.type.forEach(type =>{ %>
              <p class="types-lg <%=setTypeStyle(type.toLowerCase())%> mx-auto">
                <%=type.toUpperCase()%>
              </p>
              <% }) %>
            </a>
          </li>
          <% })%>
        </div>
      </ul>
    </div>
    <%- include('../partials/footer')%>
    <script>
      function searchPokemon() {
        let input, filter, ul, li, a, txtValue;
        input = document.getElementById("poke-search");
        filter = input.value.toUpperCase();
        li = document.getElementsByTagName("li");

        // loop through ul list to find searched pokemon
        for (let i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
    </script>
  </body>
</html>
