<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <main class="pokemon row">
        <!-- basic pokemon info -->
        <div
          class="pokemon-info text-capitalize row col-12 justify-content-center"
        >
          <div class="pokemon-info--sprite col-md-7 text-center">
            <h3 class="mb-5">#<%= pokemon.id%></h3>
            <img
              src="/images/pokeImages/<%=pokemon.id%>.png"
              alt="pokemon-sprite"
              class="poke-info-image"
            />
          </div>
          <div class="pokemon-info--info col-md-4 table">
            <h1><%=pokemon.name%></h1>
            <table class="table">
              <tbody>
                <tr>
                  <th>Species</th>
                  <td>
                    <!-- get species name -->
                    <%species.genera.forEach(m => {%>
                    <%if(m.language.name==='en'){ %>
                    <p><%=m.genus%></p>
                    <% } %> <% }) %>
                  </td>
                </tr>
                <tr>
                  <th>Type</th>
                  <td>
                    <!-- pokemon types -->
                    <% pokemon.types.forEach(type => { %>
                    <a href="/type/<%=type.type.name%>">
                      <p class="types-lg <%=setTypeStyle(type.type.name)%>">
                        <%=type.type.name%>
                      </p>
                    </a>
                    <% }) %>
                  </td>
                </tr>
                <tr>
                  <!-- weight and height -->
                  <th>Height</th>
                  <td>
                    <p>
                      <%= Math.round(10 * (pokemon.height * .328)) / 10 %> FT
                    </p>
                  </td>
                </tr>
                <tr>
                  <th>Weight</th>
                  <td>
                    <p>
                      <%= Math.round(10 * (pokemon.weight * .22)) / 10 %>
                      lbs(<%= pokemon.weight / 10 %> kg)
                    </p>
                  </td>
                </tr>
                <tr>
                  <th>Abilities</th>
                  <td>
                    <% pokemon.abilities.forEach(ability => { %>
                    <%if(ability.is_hidden === false){ %>
                    <p><%= ability.ability.name%></p>
                    <% } else { %>
                    <p><%= ability.ability.name %>(hidden)</p>
                    <% } %> <% }) %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- training -->
        <div class="pokemon-training text-capitalize col-sm-6">
          <h3 class="font-weight-bold pokeheader mb-3">Training</h3>
          <table class="pokemon-training--table table-striped">
            <tbody>
              <tr>
                <th>Base Friendship</th>
                <td><%=species.base_happiness%></td>
              </tr>
              <tr>
                <th>Capture Rate</th>
                <td><%=species.base_happiness%></td>
              </tr>
              <tr>
                <th>Growth Rate</th>
                <td><%=species.growth_rate.name%></td>
              </tr>
              <tr>
                <th>Held Items</th>
                <td>
                  <% if(pokemon.held_items.length !== 0){ %> <%
                  pokemon.held_items.forEach(item => { %>
                  <p>
                    <%=item.item.name %>
                    <img
                      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/<%=item.item.name %>.png"
                      alt="pokemon-items"
                    />
                  </p>

                  <%})%> <%} else { %>
                  <p>No held items</p>
                  <% } %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="pokemon-stats col-sm-6 mb-5">
          <%- include('./stats', {stats: pokemon.stats})%>
        </div>

        <!-- evolution chain -->
        <div
          class="pokemon-evolutions d-md-flex text-capitalize col-12 row mb-5"
        >
          <%- include('./evolutions', { evolution })%>
        </div>

        <!-- pokemon damages -->
        <div class="pokemon-damages col-12 mb-5">
          <%- include('./pokeWeakness',{ types: pokemon.types, damages}) %>
        </div>

        <!-- pokemon moves table -->
        <div class="pokemon-moves col-12">
          <%- include('./moves', {moveDetails}) %>
        </div>
      </main>
    </div>
  </body>
</html>
